@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    @media (max-width: 768px) {
        #navbar-toggle:checked ~ nav {
            height: 80px;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 100;
        }
    
        #navbar-toggle:checked + div {
            opacity: 1;
            visibility: visible;
            height: 100vh;
            width: 330px;
            top: 0;
            left: 0;
            position: fixed;
            transition: opacity 0.5s;
        }
    
        #navbar-toggle:checked ~ .bg-light-gray .dashboard {
            margin-left: 20px;
            margin-top: 80px;
        }
    
        #navbar-toggle:checked + div > div {
            padding: 1.5rem;
            z-index: 500;
        }
    
        #navbar-toggle:checked + div img {
            height: 3.5rem;
            width: 3.5rem;
        }
    
        #navbar-toggle:checked + div .location {
            visibility: visible;
            position: static;
        }
    
        #navbar-toggle:checked + div .list-item-box {
            padding: 1.5rem;
            height: 70%;
        }
    
        #navbar-toggle:checked + div ul li .icon-text {
            visibility: visible;
            position: static;
        }
    
        #navbar-toggle:checked + div ul li .icon{
            visibility: visible;
            position: static;
        }
    }

    @media (min-width: 768px) {
        #navbar-toggle:checked + div {
            width: 330px;
            position: fixed;
        }
    
        #navbar-toggle:checked ~ .bg-light-gray .dashboard {
            margin-left: 350px;
        }
        
        #navbar-toggle:checked ~ .document {
            margin-left: 0;
        }
    
        #navbar-toggle:checked ~ .req-form {
            margin-left: 20px;
        }

        #navbar-toggle:checked ~ .bg-light-gray > div {
            margin-left: 330px;
            transition: all 0.5s;
        }
    
        #navbar-toggle:checked ~ nav {
            margin-left: 330px;
            position: static;
        }
    
        #navbar-toggle:checked + div > div {
            padding: 1.5rem;
            padding-bottom: 3.5rem;
        }
    
        #navbar-toggle:checked + div img {
            height: 3.5rem;
            width: 3.5rem;
        }
    
        #navbar-toggle:checked + div .location {
            visibility: visible;
            position: static;
        }
    
        #navbar-toggle:checked + div .list-item-box {
            padding: 1.5rem;
            height: 85%;
        }
    
        #navbar-toggle:checked + div ul li .icon-text {
            visibility: visible;
            position: static;
        }
    }

    @media (min-width: 1280px) {
        #navbar-toggle:checked + div {
            width: 70px;
        }
    
        #navbar-toggle:checked ~ .bg-light-gray .dashboard {
            margin-left: 90px;
        }

        #navbar-toggle:checked ~ .document {
            margin-left: -260px;
        }
        
        #navbar-toggle:checked ~ .req-form {
            margin-left: -240px;
        }
    
        #navbar-toggle:checked ~ nav {
            margin-left: 70px;
            position: static;
        }
    
        #navbar-toggle:checked + div > div {
            padding: 1.5rem;
            padding-bottom: 3.5rem;
        }
    
        #navbar-toggle:checked + div img {
            height: 1.5rem;
            width: 1.5rem;
        }
    
        #navbar-toggle:checked + div .location {
            visibility: hidden;
            position: absolute;
        }
    
        #navbar-toggle:checked + div .list-item-box {
            padding: 0;
            height: 85%;
        }
    
        #navbar-toggle:checked + div ul li .icon-text {
            visibility: hidden;
            position: absolute;
        }
    }

    
    
      
}