@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins";
    }

    #navbar-toggle:checked + div {
        visibility: visible;
        height: 100vh;
        width: 330px;
        position: absolute;
        transition: all 300ms;
    }

    #navbar-toggle:checked ~ .bg-light-gray .dashboard {
        margin-left: 0;
    }

    #navbar-toggle:checked ~ nav {
        margin-left: 330px;
        z-index: 100;
    }

    #navbar-toggle:checked + div > div {
        padding: 1.5rem;
        padding-bottom: 3.5rem;
    }

    #navbar-toggle:checked + div img {
        height: 3.5rem;
        width: 3.5rem;
    }

    #navbar-toggle:checked + div .location {
        visibility: visible;
        position: static;
    }

    #navbar-toggle:checked + div .list-item-box {
        padding: 1.5rem;
    }

    #navbar-toggle:checked + div ul li .icon-text {
        visibility: visible;
        position: static;
    }

    #navbar-toggle:checked + div ul li .icon{
        visibility: visible;
        position: static;
    }

    @media (min-width: 768px) {
        #navbar-toggle:checked + div {
            width: 330px;
        }
    
        #navbar-toggle:checked ~ .bg-light-gray .dashboard {
            margin-left: 350px;
        }
    
        #navbar-toggle:checked ~ nav {
            margin-left: 330px;
        }
    
        #navbar-toggle:checked + div > div {
            padding: 1.5rem;
            padding-bottom: 3.5rem;
        }
    
        #navbar-toggle:checked + div img {
            height: 3.5rem;
            width: 3.5rem;
        }
    
        #navbar-toggle:checked + div .location {
            visibility: visible;
            position: static;
        }
    
        #navbar-toggle:checked + div .list-item-box {
            padding: 1.5rem;
        }
    
        #navbar-toggle:checked + div ul li .icon-text {
            visibility: visible;
            position: static;
        }
    }

    @media (min-width: 1280px) {
        #navbar-toggle:checked + div {
            width: 70px;
        }
    
        #navbar-toggle:checked ~ .bg-light-gray .dashboard {
            margin-left: 90px;
        }
    
        #navbar-toggle:checked ~ nav {
            margin-left: 70px;
        }
    
        #navbar-toggle:checked + div > div {
            padding: 1.5rem;
            padding-bottom: 3.5rem;
        }
    
        #navbar-toggle:checked + div img {
            height: 1.5rem;
            width: 1.5rem;
        }
    
        #navbar-toggle:checked + div .location {
            visibility: hidden;
            position: absolute;
        }
    
        #navbar-toggle:checked + div .list-item-box {
            padding: 0;
        }
    
        #navbar-toggle:checked + div ul li .icon-text {
            visibility: hidden;
            position: absolute;
        }
    }

    
    
      
}